.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 413px));
  grid-gap: 40px 20px;
  justify-content: center;
}

.card__image {
  max-width: 413px;
  max-height: 413px;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  max-width: 413px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 500;
}

.card__description-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 330px;
}

.card__like-btn {
  opacity: 40%;
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  margin-left: 0 auto;
}

.card__like-btn:hover {
  opacity: 100%;
}

/* screen size changes */
@media screen and (max-width: 550px) and (min-width: 320px) {
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 288px));
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    max-width: 288px;
    font-size: 16px;
  }

  .card__description-text {
    max-width: 250px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
