.header {
  background-color: #ffff;
  opacity: 0.8;
  width: 100%;
}

.header__content {
  max-width: 1440px;
  max-height: 46px;
  display: flex;
  margin: auto;
}

.header__logo {
  height: 26px;
  width: 94;
  /* border: 15px solid green; */
  margin: auto;
}
