.profile {
  display: flex;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.profile__image {
  border-radius: 8px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 12px 0;
}

.profile__subtitle {
  font-size: 16px;
  font-weight: 500;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  width: 108px;
  padding: 0;
  gap: 5px;
}

.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
}

.profile__plus-btn {
  margin-top: auto;
  margin-left: auto;
  background-color: rgba(33, 33, 33, 1);
  border: none;
  color: #fcf5e5;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  font-size: 16px;
  padding: 0;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__plus-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__plus_icon {
  width: 12px;
  height: 12px;
}

/* .profile {
  margin-left: 20px;
  margin-right: 20px;
} */

/* this is my old code */
/* .profile__content {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding: 20px 0;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.profile__image {
  border-radius: 8px;
  margin-right: 20px;
}

.profile__info {
  display: flex;
}

.profile__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 12px 0;
}

.profile__subtitle {
  font-size: 16px;
  font-weight: 500;
}

.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__edit {
  align-items: flex-end;
}

.profile__post {
  display: flex;
  background-color: #212121;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile__post-text {
  color: #fcf5e5;
}

.profile__post-image {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.button {
  background-color: #212121;
  border: none;
  color: #fcf5e5;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */
