.profile {
  display: flex;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.profile__image {
  border-radius: 8px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-img {
  width: 18.48px;
  opacity: 70%;
}

.profile__edit-img:hover {
  opacity: 100%;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  width: 108px;
  padding: 0;
  gap: 5px;
}

.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
}

.profile__plus-btn {
  margin-top: auto;
  margin-left: auto;
  background-color: rgba(33, 33, 33, 1);
  border: none;
  color: #fcf5e5;
  height: 52px;
  width: 149px;
  min-width: 110px;
  border-radius: 8px;
  font-size: 16px;
  padding: 0;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__plus-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__plus_icon {
  width: 12px;
  height: 12px;
}

/* screen size changes */
@media screen and (max-width: 550px) and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .profile__image {
    margin: 0 auto 12px;
    height: 80px;
    width: 80px;
  }

  .profile__title {
    letter-spacing: normal;
    font-size: 20px;
    margin: auto;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__subtitle {
    margin: auto;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 32px auto 20px;
  }

  .profile__plus-btn {
    width: 288px;
    height: 52px;
    margin: 0 auto;
  }
}
